/* Basic styling for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    
  }
  
  .navbar-brand h1 {
    padding-left: 2rem;
    font-size: 2rem;
    color: goldenrod;
  }
  
  .nav-links {
    padding-right: 5rem;
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links li {
    text-decoration: none;
  }
  
  .nav-links a {
    color: goldenrod;
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  .nav-links a:hover {
    color: goldenrod;
    transition: 0.3s;
  }
  
  /* Responsive behavior for mobile screens */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .navbar {
      flex-direction: column;
    }
  }
  