.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  padding: 0.8rem 1.5rem; /* Slightly increased padding for height */
}

.navbar-brand h1 {
  padding-left: 1rem; /* Adjusted padding */
  font-size: 1.7rem; /* Slightly larger font size */
  color: goldenrod;
  margin: 0; /* Remove default margins */
}

.nav-links {
  padding-right: 2.5rem; /* Adjusted padding */
  list-style: none;
  display: flex;
  gap: 1.8rem; /* Adjust gap between links */
  margin: 0; /* Remove default margins */
}

.nav-links li {
  text-decoration: none;
}

.nav-links a {
  color: goldenrod;
  text-decoration: none;
  font-size: 1.4rem; /* Slightly larger font size */
}

.nav-links a:hover {
  color: goldenrod;
  transition: 0.3s;
}

/* Responsive behavior for mobile screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    padding: 1rem 1rem; /* Slightly increased padding for mobile */
  }

  .navbar-brand h1 {
    font-size: 1.4rem; /* Adjusted font size for mobile */
    text-align: center;
  }
}
